
.booking {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  flex-direction: column;
}

.booking .img{
  height: 100%;
  width: 120px;
}

.booking-text{
  padding: 10px;
  width: 354px;
  border-right: 0.6px solid #F4F4F4;
}
.booking-row{
  display:flex;
  justify-content: space-between;
  width: 277px
}

.booking .booking-content {
  flex-grow: 1;
  display: flex;
  margin-bottom: 8px;
  background-color: #fff;
  width: 800px;
}

.booking p {
  margin: 0;
  line-height: 1.4;
}

.booking small {
  color: #999999;
  font-weight: bold;
}
.booking .booking-actions {
  opacity: 0.6;
  transition: ease .3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking-flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.booking:hover .booking-actions {
  opacity: 1;
}

.booking .booking-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.booking .booking-actions a:hover {
  color: #555555;
}
