body{
  min-height: 100vh;
}
.flex-1{
  display:flex;
}

.flex-2{
  display:flex;
  justify-content: space-between;
  column-gap: 200px;
  margin-right: 142px;
  margin-left:30px;
}

.photo{
  padding: 24px 40px;
  justify-content: flex-start;
  column-gap: 80px;
  padding: 10px 24px;
  border-radius: 4px;
}

.granny_info{
  padding: 0px 60px;
}

.ratings {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.ratings-flex-box{
  column-gap: 16px;
  display:flex;
}

.bold {
  font-weight: bold;
}

.underlined{
  text-decoration: underline;
}

.skills {
  background-color: #dd5800cb;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px;
}

.book-card{
  margin: 80px 14px;
  padding: 20px 20px;
  border:3px solid #F4F4F4;
  box-shadow: 4px 4px 4px #ececec;
  background-color: #FFF;
  position: fixed;
  bottom: -20px;
    right: 25px;
}

.interesting_facts {
  width: fit-content;
  padding: 20px 10px;
}

.img_show{
  border-radius: 10px;
}

.reviews{
  margin-top:0px;
  padding: 10px 10px;
}



.notification {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  flex-direction: column;
  width: 395px;
}

.notification-row{
  display:flex;
  justify-content: space-between;
  width: 277px
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
  margin-bottom: 17px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
