<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> our grannies
  </div>
  <div>
  <%= link_to "Add a granny", "#", class:"footer-copyright links-about"%>
  <%= link_to "List all grannies", "#", class:"footer-copyright links-about"%>
  </div>
</div>
