<div class="search-form-control form-group relative">
  <%= form_tag grannies_path, method: :get, class: "d-flex search-bar-home" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Enter a city"
    %>
    <%= submit_tag "Search", class: "btn btn-flat " %>
  <% end %>
</div>
