.btn-flat {
  color: #F4F4F4;
  padding: 8px 48px;
  border-radius: 5px;
  background: #F45866;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  color: #DD5800;
  background-color: #F4F4F4;
}
