.btn-flat {
  padding: 8px 48px;
  color: #F4F4F4;
  border-radius: 5px;
  background: #F45866;
  transition: background 0.2s ease;
}

.btn-flat:hover {
  color: #DD5800;
  background-color: #F4F4F4;
}
